<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

  <link href="/assets/styles/style.css" rel="stylesheet">
  
  <title>Domotica - Home</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Domotica - Home</a>
            </div>      
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Azioni <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Il mio profilo</a></li>
                            <li><a href="#">Impostazioni</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">


        <div class="row">
            <div id="quiet" class="col-md-12">
                    <text class="word" dominant-baseline="central" 
                    fill="white" text-anchor="middle" x="50%" y="50%">Riposo!
                </text>
        </div> 
        </div>
        

        <div class="row">
            <div id="alarm" class="col-md-12 hidden">
                <svg role="img"><title class="title">Allarme</title>
                    <text class="word" dominant-baseline="central" 
                        fill="#222" stroke="#222" 
                        stroke-linecap="round" stroke-width="1.5%" 
                        text-anchor="middle" x="50%" y="50%">Allarme!
                    </text>
                    <text class="word" dominant-baseline="central" 
                        fill="white" text-anchor="middle" x="50%" y="50%">Allarme!
                    </text>
                </svg>
            </div> 
        </div>
        <div class="row">
            <div href="" class="cube-switch col-md-6">
                <span class="switch">
                    <span class="switch-state off">Off</span>
                    <span class="switch-state on">On</span>
                </span>
            </div>
            <div id="light-bulb" class="off col-md-6">
                <span class="bulb off"></span>
                <span class="bulb on"></span>
            </div>
        </div>            
    </div>    
    
          
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            $('.cube-switch .switch').click(function() {
                if ($('.cube-switch').hasClass('active')) {
                    $('.cube-switch').removeClass('active');
                    $('#light-bulb').attr('class', 'off col-md-6');
                    setPin(25,"out",1);
                } else {
                    $('.cube-switch').addClass('active');
                    $('#light-bulb').attr('class', 'on col-md-6');
                    setPin(25,"out",0);
                }
            });
            var socket = io.connect(); //('http://localhost:3000/home');
            socket.on('example-ping', function (data) {
    	        console.log(data);
                //socket.emit("example-ping",data);
                //$("#result").html();
                    $('#alarm').removeClass('hidden');
                    $('#quiet').addClass('hidden');
            });

            checkPin();

            function checkPin() {
                var settings = {
                    "url": "/checkpin/25",
                    "method": "GET"
                }

                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        var json = JSON.parse(response);
                        var pinDirection = json.direction;
                        var pinValue = json.value;
                        if(pinValue=='1') {
                            $('#led01').removeClass('led-green-off');
                            $('#led01').addClass('led-green');
                        } else {
                            $('#led01').removeClass('led-green');
                            $('#led01').addClass('led-green-off');
                        };
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });
            }

            function setPin(n,d,v) {
                var pin = {
                    "number":n,
                    "direction":d,
                    "value": v
                };
                var settings = {
                    "async": true,
                    "url": "/setpin",
                    "method": "POST",
                    "headers": {
                        "Authorization" : "Bearer 1234",
                        "content-type" : "application/json",
                        "cache-control" : "no-cache"
                    },
                    "data": JSON.stringify(pin)
                }
                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        console.log(response);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });
            }        

        });
    </script>

</body>
</html>