<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link href="/assets/styles/style.css" rel="stylesheet">
  
  <title>My App</title>
</head>
	<body>
    <input class="btn btn-warning" type="button" id="btnCheck" name="btnCheck" value="Check" />
    <input class="btn btn-warning" type="button" id="btnLogout" name="btnLogout" value="Logout" />
            <div class="container">
            <div class="led-box">
                <div id="led01" class="<?=$ledClass?>"></div>
                <p>Green LED</p>
            </div>
        </div>
        <input class="btn btn-primary" type="button" id="btnOn" name="btnOn" value="Switch on" />
        <input class="btn btn-primary" type="button" id="btnOff" name="btnOff" value="Switch off" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			checkPin();
		
           		 $("#btnOn").click(function(){
                    		$('#led01').removeClass('led-green-off');
                    		$('#led01').addClass('led-green');
                    		setLed01(1);
                	});
         
                	$("#btnOff").click(function(){
                    		$('#led01').removeClass('led-green');
                    		$('#led01').addClass('led-green-off');
                    		setLed01(0);
                	});

                $("#btnCheck").click(function(){
			checkPin();
                });

		function checkPin() {
                    var settings = {
                        "url": "/led",
                        "method": "GET",
                        "headers": {
                            "content-type" : "application/json",
                            "cache-control" : "no-cache"
                        }
                    }

 			$.ajax(settings).done(function (response, status, xhr) {
                        	if (xhr.status == 200) {
                    	    		console.log(response);
					var json = JSON.parse(response);
			    		var pin = json.pin;
					console.log(pin);
			    		if(pin=='1') {
                    				$('#led01').removeClass('led-green-off');
                    				$('#led01').addClass('led-green');
					} else {
                    				$('#led01').removeClass('led-green');
                    				$('#led01').addClass('led-green-off');
					};
                        	} else {
                    	    		console.log("ERROR: " + xhr.status);
                        	}
                    	});
		}

                function setLed01(v) {
                    var form_data = {
			"pin":"25",
                        "value": v
                    };
                    var settings = {
                        "async": true,
                        "url": "/led",
                        "method": "POST",
                        "headers": {
                            "Authorization" : "Bearer 1234",
                            "content-type" : "application/json",
                            "cache-control" : "no-cache"
                        },
                        "data": JSON.stringify(form_data)
                    }
                    $.ajax(settings).done(function (response, status, xhr) {
                        if (xhr.status == 200) {
                    	    console.log(response);
                        } else {
                    	    console.log("ERROR: " + xhr.status);
                        }
                    });
                }        

	});
        </script>
        
    </body>
</html>
