<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">-->

    <link href="/assets/styles/style.css" rel="stylesheet">

    <title>Domotica - Home</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Domotica - Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Azioni <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Il mio profilo</a></li>
                            <li><a href="#">Impostazioni</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="mainTable" class="container">
    </div>


    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function () {
            var pins = [];

            generateTable();
            readAll();

            function generateTable() {
                var mainTableHeader = '<div class="row row-m-b-head">' +
                    '<div class="col-md-2 align-center">' +
                    '<text class="mainTableHeader" dominant-baseline="central" fill="yellow" text-anchor="middle" x="50%" y="50%">Number</text>' +
                    '</div>' +
                    '<div class="col-md-2 align-center">' +
                    '<text class="mainTableHeader" dominant-baseline="central" fill="yellow" text-anchor="middle" x="50%" y="50%">Direction</text>' +
                    '</div>' +
                    '<div class="col-md-8 align-center">' +
                    '<text class="mainTableHeader" dominant-baseline="central" fill="yellow" text-anchor="middle" x="50%" y="50%">Status</text>' +
                    '</div>' +
                    '</div>';

                var mainTableBody = '';
                for (i = 0; i <= 27; i++) {
                    if (pins[i]) {
                        var pin = pins[i];
                        if (pin.direction == 'out') {
                            mainTableBody += '<div class="row row-m-b">' +
                                '<div id="pinnumber' + i + '" class="col-md-2 align-center">' +
                                '<text class="word" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%">' + i + '</text>' +
                                '</div>' +
                                '<div id="pindirection' + i + '" class="col-md-2 align-center">' +
                                '<text class="word" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%">' + pin.direction + '</text>' +
                                '</div>' +
                                '<div id="pinvalue' + i + '" class="col-md-8 align-center">' +
                                '<button id="pinButton' + i + '" type="button" class="btn btn-default btn-xs btnOut">' + outStatus(pin.value) + '</button>' +
                                '</div>' +
                                '</div>';
                        } else {
                            mainTableBody += '<div class="row row-m-b">' +
                                '<div id="pinnumber' + i + '" class="col-md-2 align-center">' +
                                '<text class="word" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%">' + i + '</text>' +
                                '</div>' +
                                '<div id="pindirection' + i + '" class="col-md-2 align-center">' +
                                '<text class="word" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%">' + pin.direction + '</text>' +
                                '</div>' +
                                '<div id="pinvalue' + i + '" class="col-md-8 align-center">' +
                                '<text id="pintext' + i + '" class="inOK" dominant-baseline="central" fill="green" text-anchor="middle" x="10%" y="10%">' + inStatus(pin.value) + '</text>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                }
                var mainTableHTML = mainTableHeader + mainTableBody;

                $('#mainTable').html(mainTableHTML);

                $('.btnOut').click(function (event) {
                    var buttonID = event.target.id;
                    var pin = buttonID.replace('pinButton', '');
                    if (pins[pin].value == 0) {
                        $(event.target).removeClass('btn-default');
                        $(event.target).addClass('btn-success');
                        $(event.target).html('ON');
                        pins[pin].value = 1;
                        setPin(pin,pins[pin].direction,pins[pin].value);

                    } else {
                        $(event.target).removeClass('btn-success');
                        $(event.target).addClass('btn-default');
                        $(event.target).html('OFF');
                        pins[pin].value = 0;
                        setPin(pin,pins[pin].direction,pins[pin].value);
                    }
                });
                
                var socket = io.connect();
                
                for (i = 0; i <= 27; i++) {
                    if((pins[i]) && (pins[i].direction == 'in')) {
                        (function(i){
                            socket.on('ping'+i, function (data) {
                                var v = data.value;
                                var pin = i;
                                pins[pin].value = v;
    
                                if (v == 1) {
                                    $('#pintext'+pin).html("ALARM!");
                                    $('#pintext'+pin).removeClass('inOK');
                                    $('#pintext'+pin).addClass('inAlarm');
                                } else {
                                    $('#pintext'+pin).html("OK!");
                                    $('#pintext'+pin).addClass('inOK');
                                    $('#pintext'+pin).removeClass('inAlarm');
                                }
                            });
                            })(i);
                    }
                }                
            }

            function readAll() {
                var settings = {
                    "url": "/readall",
                    "method": "GET"
                }

                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        var json = JSON.parse(response);
                        pins = json;
                        generateTable();

                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });

            }

            function setPin(n, d, v) {
                var pin = {
                    "number": n,
                    "direction": d,
                    "value": v
                };
                var settings = {
                    "async": true,
                    "url": "/setpin",
                    "method": "POST",
                    "headers": {
                        "Authorization": "Bearer 1234",
                        "content-type": "application/json",
                        "cache-control": "no-cache"
                    },
                    "data": JSON.stringify(pin)
                }
                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        console.log(response);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });
            }

            function inStatus(st) {
                return ((st == 0) ? 'OK!' : 'ALARM!');
            }

            function outStatus(st) {
                return ((st == 0) ? 'OFF' : 'ON');
            }
        });
    </script>

</body>

</html>