@font-face {
  font-family: "Bangers";
  src: url(../../assets/fonts/Bangers.ttf) format("truetype");
}

body {
  background: #46484b;
}

.disabledCell {
pointer-events: none;
opacity: 0.4;
}


#inZone {
background: #D5E0F1;
height: 20em;   
}

#outZone {
background: #96BCF4;
height: 20em;    
}

#inPortsHeader {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0.2em;
color: black;
padding: 0.5em;
font-size: 22px;
}

#outPortsHeader {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0.2em;
color: black;
padding: 0.5em;
font-size: 22px;
}
 .inOK {
  font-family: "Bangers", cursive;
  letter-spacing: 0.05em;
  color: #15B04C;
  padding: 0.5em;
  font-size: 18px;   
}

.btnStatusInput, .btnStatusOutput {
  font-family: "Bangers", cursive;
  letter-spacing: 0.4em;
  font-size: 16px;
  padding: 0 px;
  width: 100%;
}

.inAlarm {
  font-family: "Bangers", cursive;
  letter-spacing: 0.05em;
  color: #ff002b;
  padding: 0.5em;
  font-size: 18px;   
}

.word {
  font-family: "Bangers", cursive;
  letter-spacing: 0.05em;
  color: white;
  padding: 0.5em;
  font-size: 18px;
}

.mainTableHeader {
  font-family: "Bangers", cursive;
  letter-spacing: 0.05em;
  color: #E8DE28;
  padding: 0.5em;
  font-size: 18px;
}

.align-center {
  text-align: center;
}

.row-m-b-head {
  margin-bottom: 20px;
}

.row-m-b {
  margin-bottom: 10px;
}

/* toggle */


input[type="checkbox"].ios8-switch {
position: absolute;
margin: 8px 0 0 16px;    
}
input[type="checkbox"].ios8-switch + label {
position: relative;
padding: 5px 0 0 50px;
line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
content: "";
position: absolute;
display: block;
left: 0;
top: 0;
width: 40px; /* x*5 */
height: 24px; /* x*3 */
border-radius: 16px; /* x*2 */
background: #fff;
border: 1px solid #d9d9d9;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
content: "";
position: absolute;
display: block;
left: 0px;
top: 0px;
width: 24px; /* x*3 */
height: 24px; /* x*3 */
border-radius: 16px; /* x*2 */
background: #fff;
border: 1px solid #d9d9d9;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
background: #55D069;
}

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
margin: 5px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
position: relative;
padding: 0 0 0 32px;
line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
width: 25px; /* x*5 */
height: 15px; /* x*3 */
border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
width: 15px; /* x*3 */
height: 15px; /* x*3 */
border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
margin-left: 10px; /* x*2 */
}

